<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Feedback Form</title>
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <form id="feedbackForm" action="{{ url_for('submit')}}" method="POST">
        <h1 class="form-heading">Feedback Form</h1>

        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Enter Name" required>

        <label for="age">Age</label>
        <select id="age" name="age" required>
            <option value="">Select Age Group</option>
            <option value="under18">Under 18</option>
            <option value="18-24">18-24</option>
            <option value="25-34">25-34</option>
            <option value="35-44">35-44</option>
            <option value="45-54">45-54</option>
            <option value="55-64">55-64</option>
            <option value="65+">65 and over</option>
        </select>

        <label for="gender">Gender</label>
        <select id="gender" name="gender" required>
            <option value="">Select Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
        </select>

        <label for="location">Location</label>
        <input type="text" id="location" name="location" placeholder="Enter Location" required>

        <label for="orderId">Order Id</label>
        <input type="text" id="orderId" name="orderId" placeholder="Enter Order Id" required>

        <label for="feedback">Feedback</label>
        <textarea id="feedback" style="resize:none" name="feedback" rows="4" spellcheck="true" placeholder="Give your Feedback" required></textarea>

        <div class="button-container">
            <button type="submit" value="submit">Submit</button>
            <button type="reset">Clear</button>
        </div>
    </form>
    <!-- {% if fname %}
	<p><b><font>{{prediction}}</font></b></p>
	{% endif %} -->
    
    <script src="script.js"></script>
</body>
</html>
