<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Feedback Form</title>
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="main">
        <form id="feedbackForm" action="{{ url_for('submit')}}" method="POST">
            <h2 class="form-heading">Czech Unified Solutions
                <br>
                Feedback Form
            </h2>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Enter Name" required>
    
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Enter email id" required>
    
            <label for="age">Age</label>
            <select id="age" name="age" required>
                <option disabled selected value="">Select Age Group</option>
                <option value="under18">Under 18</option>
                <option value="18-24">18-24</option>
                <option value="25-34">25-34</option>
                <option value="35-44">35-44</option>
                <option value="45-54">45-54</option>
                <option value="55-64">55-64</option>
                <option value="65+">65 and over</option>
            </select>
    
            <label for="gender">Gender</label>
            <select id="gender" name="gender" required>
                <option disabled selected value="">Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
    
            <label for="location">Location</label>
            <!-- <input list="city" id="location" name="location"> -->
            <input list="city" id="location" name="location" pattern="Telangana|Maharashtra|Delhi|Karnataka|Punjab|Gujarat|Odisha|Tamil Nadu|Andhra Pradesh|Uttar Pradesh" required>
            <datalist id="city">
                <option value="Telangana"></option>
                <option value="Maharashtra"></option>
                <option value="Delhi"></option>
                <option value="Karnataka"></option>
                <option value="Punjab"></option>
                <option value="Gujarat"></option>
                <option value="Odisha"></option>
                <option value="Tamil Nadu"></option>
                <option value="Andhra Pradesh"></option>
                <option value="Uttar Pradesh"></option>
            </datalist>
    
            <label for="orderId">Order Id</label>
            <input type="text" id="orderId" name="orderId" placeholder="Enter Order Id" required>
    
            <label for="product">Product Name</label>
            <select id="product" name="product" required>
                <option disabled selected value="">Select product</option>
                <option value="mobile">Mobile</option> 
                <option value="laptop">Laptop</option>
                <option value="tablet">Tablet</option>
                <option value="ear_dopes">Ear Dopes</option>
                <option value="smart_watch">Smart Watch</option>
            </select>
    
            <label for="feedback">Feedback</label>
            <textarea id="feedback" style="resize:none" name="feedback" rows="4" spellcheck="true" placeholder="Give your Feedback" required></textarea>
            
            <div class="button-container">
                <button type="submit" value="submit">Submit</button>
                <button type="reset">Clear</button>
            </div>
        </form>
    </div>
</body>
</html>