body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: linear-gradient(
    to top,
    #040308,
    #ad4a28,
    #dd723c,
    #fc7001,
    #dcb697,
    #9ba5ae,
    #3e5879,
    #020b1a
  ); */
  background: #FC5C7D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form-heading {
  text-align: center;
}

form {
  font-size: 16px;
  font-family: 'Patua One', serif;
  color:rgba(2, 9, 13, 0.793);
  background-color: rgba(248, 247, 247, 0.375);
  padding: 20px;
  margin: 15px 20px;
  border-radius: 27px;
  border: 2px solid #ccc;
  box-shadow: 12px 10px 15px rgba(0, 0, 0, 0.5);
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #4caf50;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #45a049;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 600px) {
  form {
    width: 400px;
  }
}
